[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
aiohttp = "*"
pytelegrambotapi = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
sqlalchemy = "*"
aiohttp-jinja2 = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
