[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
aiohttp = {extras = ["speedups"], version = "*"}
schedule = "*"

[dev-packages]

[requires]
python_version = "3.9"
