{% extends "base.html" %}

{% block content %}
    <h2>Hi, {{ current_user.username }}!</h2>
       <h3>Please, enter {{name}}:</h3>
    <hr>
<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.data.label }}<br>
            {{ form.data(cols=32, rows=2) }}<br>
            {% for error in form.data.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <hr>
    {% if record %}
        <ul>
            {% for contact in record %}
            <li><big>{{ contact.name }} | {{ contact.email }} | {{ contact.phone }}</big></li>
            {% endfor %}
        </ul>
        {% elif record == 0 %}
            <h3>There is no such record in the database</h3>
    {% endif %}

{% endblock %}